.container {
  margin: 0 auto;
  max-width: 780px;
  padding: 20px;
  /* background-image: url('../public/milky-way-5713294_1280.jpg'); */
  background-color: rgb(23, 23, 23);
  background-size: cover;
  position: relative;
  overflow: hidden;
  /* height: 100vh; */
}

/* App.css */

body {
  margin: 0;
}

.snowflake {
  top: 0;

  position: absolute;
  background: #fff;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  animation: falling linear infinite;
  animation-duration: 5s; /* 애니메이션 속도를 원하는 값으로 조정하세요 */
}

@keyframes falling {
  0% {
    transform: translateY(-10vh);
  }
  100% {
    transform: translateY(110vh);
  }
}